                  /* Body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                  
body {
    Font-size: 15px;
    font-family: "Lexend Deca",sans-serif;
    background-color: #f2f2f2;
}
             /* Main container */
.main-box {
    width: 100%;
    margin: 100px auto; 
    
}
            /* small container */

.small-box {
    width: 325px;
    margin: 0 auto;
    height: 440px;
    padding-left: 48px;
}

.small-box p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 50px;
    line-height: 25px;
    opacity: 0.80;
    max-width: 230px;
}

.small-box h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
    margin-bottom: 35px;
    font-weight: 700;
}
.small-box .icon {
    margin-bottom: 25px;
    margin-top: 50px;
}

                /* Box background-color */

#sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

#suv {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
     border-radius:  0 0 10px 10px;
}
    
                    /* Button */
.button-sedan {
    color: hsl(31, 77%, 52%);
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
  }
.button-suv {
    color: hsl(184, 100%, 22%);
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
   }
  .button-luxury {
    color: hsl(179, 100%, 13%);
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
  }

                   /* button hover */

  .button-sedan:hover {
    color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;

  }
  .button-suv:hover {
    color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
  }

  .button-luxury:hover {
    color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
  }

               /* media queries */

  @media screen and (min-width: 1000px) {
    .main-box {
      display: flex;
      width: 960px;
    }

    #sedan {
      border-radius: 10px 0 0 10px;
    }
    #suv {
      background-color: hsl(184, 100%, 22%);
    }
    #luxury {
      border-radius: 0px 10px 10px 0;
      background-color: hsl(179, 100%, 13%);
    }
    
  }

    