 .body {
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

.flex-container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin: 200px;
      
}

.flex-image {
    display: flex;
    flex: 0 0 50%;
    background-image: linear-gradient(to right,  hsla(277, 64%, 61%,0.65) 0%, hsla(277, 64%, 61%, 0.65) 100%), url("images/image-header-mobile.jpg");

}

.flex-item {
    display:grid;
    background-color: hsl(244, 38%, 16%);
    flex: 0 0 50%;


}

.low {

    text-align: center;
    display: flex;
    justify-content: center;
}

.down {
display: flex;
justify-content: center;
}
    
h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}

.purple-text {
    color: hsl(277, 64%, 61%);
}

.stat {
    display: flex;
    justify-content: space-between;
    width: 100%;
}