 .body {
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    display: grid;
    margin: auto;
    height:150vh;
    font-size: 15px;
}

.flex-container {
    display: flex;
    margin: auto;  
    max-width:1080px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
   
}


.flex-container>div {
    display: flex;
    flex: 0 0 50%;
}

.flex-image {
    background-color: hsl(277, 64%, 61%);
    
}

.flex-image>img {
    opacity: 0.5;

}

.flex-item {
    background-color: hsl(244, 38%, 16%);
    flex-direction:column; 
    justify-content: center; 
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    color: white;
}

.purple-text {
    color: hsl(277, 64%, 61%);
}

.stat {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: hsl(0, 0%, 100%);
    margin-top: 100px;
}

.discover {
    margin-bottom: 50px;
    color: hsla(0, 0%, 100%, 0.75);
    
    
}

.stat-figure {
    color: hsla(0, 0%, 100%, 0.6);
}

.name {
    color:hsl(277, 64%, 61%);
}

.frontend {
    color:hsl(277, 64%, 61%);
}


img {
    display: block;
}

@media screen and (max-width:380px) {
    .flex-container {
         flex-direction: column-reverse;
         flex-wrap: wrap;
         width: auto;
            
    }
    .flex-image>img {
        width: 320px;
        height: auto;
        margin: 0 auto;
    }


.flex-image {
    width: 320px;
    height: auto;
    margin: 0 auto;
}
.flex-item {
    width: 320px;
    height: auto;
    margin: 0 auto;
}

.discover{
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
    
}

.stat {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

}

